body {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
}
header {
  background-image: url('../img/Layer-31.jpg');
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.52);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.52);
}
nav {
  height: 150px;
  background: rgba(0, 0, 0, 0.52);
}
#top-nav {
  width: 992px;
  margin: 0 auto;
}
.nav-top {
  height: 55px;
  margin-top: 30px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.my-logo {
  display: inline-block;
  width: 190px;
  line-height: 13px;
  padding: 10px 0;
}
.my-logo a {
  text-decoration: none;
  font-family: "Bauhaus", sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.my-logo a:hover,
.my-logo a:focus {
  text-decoration: none;
  color: #e77000;
}
.my-logo span {
  left: 45px;
  top: 4px;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 17px;
}
.menu-nav {
  list-style-type: none;
  padding: 0;
}
.menu-nav > li {
  display: inline-block;
  padding: 0 20px;
  border-right: 2px solid #ffffff;
  line-height: 10px;
}
.menu-nav > li:first-child {
  padding-left: 0px;
}
.menu-nav > li:nth-last-child(1) {
  border-right: none;
}
.menu-nav a {
  text-decoration: none;
  font-size: 10pt;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "MyriadProRegular", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.menu-nav a:hover,
.menu-nav a:focus {
  text-decoration: none;
  color: #e77000;
}
.my-menu {
  position: relative;
  bottom: 52px;
  margin-left: 170px;
  list-style-type: none;
}
.my-menu li {
  display: inline-block;
  margin-right: 10px;
}
.my-menu li .block-coll {
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
.icon {
  width: 35px;
  height: 35px;
  float: left;
  background: url(../img/icons_35.png) no-repeat;
}
.icon.viber {
  background-position: 3px 0px;
  cursor: pointer;
}
.icon.mobCol {
  background-position: -34px 0px;
  cursor: pointer;
}
.icon.telegram {
  background-position: -75px 0px;
  cursor: pointer;
}
.icon.callrepit {
  background-position: -114px 0px;
  cursor: pointer;
}
.icon.skype {
  background-position: -338px 0px;
  cursor: pointer;
}
.social {
  position: relative;
  float: right;
  bottom: 110px;
  font-size: 12px;
}
.social li {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 5px;
  background: #fdfdfd;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 1px solid #fdfdfd;
  margin-right: 10px;
  cursor: pointer;
}
.social li:hover,
.social li:focus {
  background: #e77000;
  border: 1px solid #e77000;
}
.social li:nth-child(2) {
  padding-left: 9px;
}
.social li a {
  text-decoration: none;
}
.social li i {
  color: #4f5150;
}
.my-carousel {
  height: 100%;
  padding: 5% 0 5% 0;
}
.my-carousel h3 {
  color: #ffffff;
  width: 52%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.my-carousel p {
  width: 50%;
  color: #d0d0d0;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 30px;
}
.my-control-icon {
  position: absolute;
  width: 100%;
  top: 50%;
}
.my-control-icon a {
  margin: 0 10% 0 10%;
  height: 50px;
  width: 50px;
  background-color: rgba(138, 160, 159, 0.42);
  border: 1px solid rgba(138, 160, 159, 0.42);
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.my-control-icon i {
  font-size: 55px;
  font-weight: 900;
  color: #003e3d;
}
.my-control-left {
  float: left;
}
.my-control-right {
  float: right;
}
.my-carousel-inner {
  text-align: center;
}
