body {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
}
h1,
h2,
h3,
h4,
p {
  font-family: "MyriadProRegular", sans-serif;
}
header {
  background-image: url('../img/Layer-31.jpg');
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.52);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.52);
}
nav {
  height: 150px;
  background: rgba(0, 0, 0, 0.52);
}
#top-nav {
  width: 992px;
  margin: 0 auto;
}
.nav-top {
  height: 55px;
  margin-top: 30px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.my-logo {
  display: inline-block;
  width: 190px;
  line-height: 13px;
  padding: 10px 0;
}
.my-logo a {
  text-decoration: none;
  font-family: "Bauhaus", sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.my-logo a:hover,
.my-logo a:focus {
  text-decoration: none;
  color: #e77000;
}
.my-logo span {
  left: 45px;
  top: 4px;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 17px;
}
.menu-nav {
  list-style-type: none;
  padding: 0;
}
.menu-nav > li {
  display: inline-block;
  padding: 0 20px;
  border-right: 2px solid #ffffff;
  line-height: 10px;
}
.menu-nav > li:first-child {
  padding-left: 0px;
}
.menu-nav > li:nth-last-child(1) {
  border-right: none;
}
.menu-nav a {
  text-decoration: none;
  font-size: 10pt;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "MyriadProRegular", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.menu-nav a:hover,
.menu-nav a:focus {
  text-decoration: none;
  color: #e77000;
}
.my-menu {
  position: relative;
  bottom: 52px;
  margin-left: 170px;
  list-style-type: none;
}
.my-menu li {
  display: inline-block;
  margin-right: 10px;
}
.my-menu li .block-coll {
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
.icon {
  width: 35px;
  height: 35px;
  float: left;
  background: url(../img/icons_35.png) no-repeat;
}
.icon.viber {
  background-position: 3px 0px;
  cursor: pointer;
}
.icon.mobCol {
  background-position: -34px 0px;
  cursor: pointer;
}
.icon.telegram {
  background-position: -75px 0px;
  cursor: pointer;
}
.icon.callrepit {
  background-position: -114px 0px;
  cursor: pointer;
}
.icon.skype {
  background-position: -338px 0px;
  cursor: pointer;
}
.social {
  position: relative;
  float: right;
  bottom: 110px;
  font-size: 12px;
}
.social li {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 5px;
  background: #fdfdfd;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #fdfdfd;
  margin-right: 10px;
  cursor: pointer;
}
.social li:hover,
.social li:focus {
  background: #e77000;
  border: 1px solid #e77000;
}
.social li:nth-child(2) {
  padding-left: 9px;
}
.social li a {
  text-decoration: none;
}
.social li i {
  color: #4f5150;
}
.my-social-2 {
  padding: 10px 58px;
  height: 70px;
}
.my-social-2 li {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  text-decoration: none;
  padding: 8px 15px;
  border: 2px solid #828282;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 3px;
  cursor: pointer;
}
.my-social-2 li i {
  color: #828282;
}
.my-social-2 li:nth-child(1) {
  padding: 8px 10px;
}
.my-carousel {
  height: 100%;
}
.my-carousel h3 {
  font-family: "MyriadProBold", sans-serif;
  color: #fdfffc;
  font-size: 42px;
  margin-bottom: 30px;
}
.my-carousel h3 b {
  color: #7fa668;
}
.my-carousel p {
  font-size: 22px;
  color: #d0d0d0;
  margin-bottom: 30px;
}
.my-carousel p b {
  color: #f9b801;
  font-size: 26px;
  font-weight: bold;
}
.my-carousel .my-indicators {
  position: relative;
  top: 90px;
}
.my-carousel .my-indicators li {
  background: #ffffff;
}
.my-carousel .my-indicators .active {
  width: 16px;
  height: 16px;
}
.my-control-icon {
  position: absolute;
  width: 100%;
  top: 10%;
}
.my-control-icon a {
  height: 50px;
  width: 50px;
  background: rgba(138, 160, 159, 0.42);
  border: 1px solid rgba(138, 160, 159, 0.42);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.my-control-icon a:hover,
.my-control-icon a:focus {
  background: #fefefe;
}
.my-control-icon i {
  font-size: 55px;
  font-weight: 900;
  color: #003e3d;
}
.my-control-left {
  float: left;
  margin-left: 100px;
}
.my-control-left i {
  position: relative;
  bottom: 5px;
  left: 9px;
}
.my-control-right {
  float: right;
  margin-right: 100px;
}
.my-control-right i {
  position: relative;
  left: 16px;
  bottom: 5px;
}
.my-carousel-inner {
  margin-top: 100px;
  text-align: center;
}
.my-btn-success {
  padding: 6px 7px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.my-btn-order {
  padding: 5px 25px;
  border: 2px solid #7fa668;
  -webkit-border-radius: 2px;
  border-radius: 15px;
  background: transparent;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #7fa668;
}
.my-main-txt p {
  color: #999999;
  font-size: 19px;
}
.my-br {
  border-bottom: 2px solid #e3e3e3;
}
.my-title {
  text-align: center;
  padding: 40px 0;
}
.my-title h1 {
  font-family: "MyriadProBold", sans-serif;
  text-transform: uppercase;
  color: #666261;
  margin-bottom: 30px;
  font-size: 24px;
}
.my-blk-product {
  width: 350px;
  height: 100%;
  margin: 0 20px 30px 20px;
  padding: 20px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3%;
          border-radius: 3%;
}
.my-blk-product p {
  text-align: center;
  padding: 5px;
}
.my-blk-product span {
  font-size: 52px;
  font-weight: bold;
  margin: 0 10px 0 75px;
}
.my-blk-product i {
  color: #df0020;
}
.my-blk-product button {
  margin: 10px 29% 0 29%;
}
.my-blk-product button:hover,
.my-blk-product button:focus {
  background: #7fa668;
  color: #ffffff;
}
.my-blk-certi {
  background: url(../img/Layer-16-copy.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
#carousel2 {
  position: relative;
  width: 84%;
  padding: 10px 40px;
  margin: 0 auto;
}
#carousel2 img {
  display: block;
}
#carousel2 a:focus {
  outline: none;
}
#carousel2 a:hover {
  color: #ccc;
  cursor: pointer;
}
.arrow {
  position: absolute;
  top: 120px;
  padding: 0;
  color: #444;
  display: block;
}
.arrow i {
  font-size: 12em;
}
.prev {
  left: -60px;
}
.next {
  right: -60px;
}
.gallery {
  overflow: hidden;
}
.gallery ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: margin-left 250ms;
  -o-transition: margin-left 250ms;
  transition: margin-left 250ms;
  font-size: 0;
}
.gallery li {
  display: inline-block;
  margin: 70px 35px 70px 35px;
}
.gallery img {
  border: 7px solid #030303;
  -webkit-box-shadow: 10px 5px 5px #030303;
  box-shadow: -12px 11px 20px 0px rgba(3, 3, 3, 0.24);
}
.zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.zoom:hover,
.zoom:active,
.zoom:focus {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  z-index: 9999;
}
.my-blk-tips {
  text-align: left;
}
.my-blk-tips h1 {
  font-size: 18px;
}
.my-blk-tips p {
  font-size: 17px;
}
.my-news h1::before {
  content: "";
  position: absolute;
  top: 90px;
  height: 3px;
  width: 155px;
  background: #9d9d9d;
}
.aboutus {
  background-color: #efefef;
  padding: 0 136px;
}
